:root {
    --primary-color: #113946;
    --secondary-color: #BCA37F;
    --tertiary-color: #EAD7BB;
    --background-color: #FFF2D8;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  #container {
    min-height: 100vh;
  }
  
  #Navbar {
    background-color: var(--primary-color);
    color: whitesmoke;
    padding: 2rem;
    display: flex;
  }
  
  #body-div {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
  }
  
  #margin {
    background-color: var(--background-color);
    width: 18rem;
    min-height: 100vh;
  }
  
  #list {
    width: calc(100vw - 18rem); 
  }
  
  /* List Item Styles */
  li {
    list-style-type: none;
  }
  
  /* Button Styles */
  button {
    border: none;
    background-color: var(--background-color);
    font-size: large;
    font-weight: 800;
    font-family: sans-serif;
    cursor: pointer;
  }
  
  /* List Button Styles */
  #list-btn {
    background-color: white;
  }
  